<div class="row">
  <form (ngSubmit)="roll()" [formGroup]="rollForm">
    <div class="col">
      <div class="md-form">
        <i class="prefix">
          <fa-icon [icon]="faDice"></fa-icon>
        </i>
        <input mdbInputDirective formControlName="roll" id="roll" type="text" name="roll">
        <label for="roll">Wurf</label>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success" [disabled]="!rollForm.valid">Submit</button>
    </div>
  </form>
</div>
<div class="row" *ngIf="rollResult">
  <div class="col">
    <app-dice-result-display [result]="rollResult"></app-dice-result-display>
  </div>
</div>
<div class="row" *ngIf="results.length">
  <div class="col">
    <p class="h2-responsive">Log:</p>
    <ul *ngFor="let res of results.slice().reverse()">
      <li>
        <app-dice-result-display [result]="res"></app-dice-result-display>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <p><i>AnzahlderWürfel</i><strong>d</strong><i>WürfelTyp</i> z.B. <code>3d12</code> würfelt 3 W12</p>
    <p><i>wurf</i><strong> +</strong><i>Modifikator</i> z.B. <code>2d6+3</code> würfelt 2 W6 und addiert auf das
      Ergebnis 3 dazu</p>
    <p><i>wurf</i><strong> E</strong><i>Mindestwurf</i> z.B. <code>6d6E4</code> würfelt 6 W6 und zählt alle Würfe die
      höher sind als 4</p>
    <p><i>wurf</i><strong> R</strong><i>Mindestwurf</i> z.B. <code>6d10R12</code> würfelt 6 W10 und zählt alle Würfe die
      höher sind als 12. Dabei wird die <i>"Regel der 6 beachtet"</i>. -> Exploding Die</p>

    <p><i>wurf</i><strong> F</strong><i>Mindestwurf</i> z.B. <code>8d6F4</code> würfelt 8 W6 und zählt alle Erfolge und
      Einsen. Das Ergebnis sind die Anzahl der Erfolge minus gewürfelte einsen</p>
  </div>
</div>
