<form (ngSubmit)="roll()" #diceForm="ngForm">
  <div class="form-group">
    <label for="roll">Wurf</label>
    <input id="roll" type="text" [(ngModel)]="rollString" name="roll">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!diceForm.form.valid">Submit</button>
</form>
<div *ngIf="rollResult">
  {{rollResult.result + rollResult.modificator }} = {{ rollResult.details }} + {{ rollResult.modificator }}
</div>
<div *ngIf="results.length">
  <h2>Log:</h2>
  <p  *ngFor="let res of results">{{res.result + res.modificator }} = {{ res.details }} + {{ res.modificator }}</p>
</div>
